.scoreboard {    
  margin-left: auto;
  margin-right:auto;
  margin-top:2em;
  border-collapse: separate;
  border-color: #000000;
  border-width: 3px;
  border-style: solid;
  border-spacing: 0px;
  padding:0;
  font-size: 16px; 
  font-weight: bold;
  line-height: 16px;
  text-align : center;
  width:auto;
}

.scoreboard tr:nth-child(odd) {
  vertical-align: middle; 
  background-color: #D4E6F4;
}

.scoreboard tr:nth-child(even) {
  vertical-align: middle; 
  background-color: #ffffff;
}

.scoreboard tr:first-child {
  vertical-align: middle; 
  background-color: #000000;
  color:#FFFFFF;
}
/**/
.scoreboard td, .scoreboard th {
  vertical-align: middle; 
  text-align: center;
  width:3em;
  height: 1.5em;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th, label {
    padding: 2px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    margin:0px;
}