.w3-font {
    font-family: 'Montserrat', serif;
}
html { font-family: 'Montserrat', serif;
}
body { font-family: 'Montserrat', serif;
}
img { 
}
a {
}
a:hover {
}
#header { 
}
#header h1 {   
}
#main { 
}
#footer { 
}

/* Navigation */
#navigation {
}
#navigation a { 
}
#navigation a:hover { 
}
ul.subjects { 
}
ul.pages {
}
.selected {
}

/* Page Content */
#page { 
}
#page h2 {
}
#page h3 {
}
.centre {
}
.view-content {
}

div.message { 
}

.updated {
}

/* errors */
.error {
}
.error ul {
}

.round {
}

.round tr:nth-child(odd) {
}

.round tr:nth-child(even) {
}

.round tr:first-child {
}

.round td {
}
/*
.scoreboard {
}
*/
.divleft {
}

.divright {
}



